**/cppunitx/cppunitx
**/test/runtest
**/libgnu/getopt.h
**/libgnu/stddef.h
**/libgnu/stdlib.h
**/libgnu/sysexits.h
**/libgnu/unistd.h
**/libgnu/sys/types.h
Makefile
config.h
libtool
config.status
Makefile.in
config.h.in
configure
aclocal.m4
stamp-*
_build
LibrarySupport
.vs
.libs
.deps
*.trs
*.pc
*.exe
*.la
*.dll
*.so.*
*.so
*.lib
*.a
*.gcda
*.gcno
*.lo
*.obj
*.o
*.tvsconfig
*.local
*.user
*.lineno
*.log
*.cache
*.rej
*.orig
*~
