**/cppunitx/cppunitx
**/test/runtest
**/libgnu/getopt.h
**/libgnu/stddef.h
**/libgnu/unistd.h
**/libgnu/sys/types.h
**/libgnu/arg-nonnull.h
**/libgnu/c++defs.h
**/libgnu/warn-on-use.h
libtool
Makefile
config.h
config.status
Makefile.in
config.h.in
configure
aclocal.m4
stamp-*
.dirstamp
Debug
Release
LibrarySupport
_build
.vs
.libs
.deps
*.trs
*.log
*.pc
*.la
*.a
*.lo
*.o
*.cache
*.tvsconfig
*.local
*.user
*.rej
*.orig
*~
